<div class="card">
  <div class="card-header">
    <h4 class="mb-1 mt-1">Новый оператор</h4>
  </div>
  <div class="card-body">
    <form [formGroup]="personForm">
      <div class="form-row">
        <div class="form-group col-md-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-user mr-3"></i>Имя:
              </span>
            </div>
            <input type="text" class="form-control" id="name" name="name" formControlName="name" autocomplete="off">
            </div>
          <small class="invalid" *ngIf="InvalidPerson('name')">Имя должно содержать только русские буквы, минимальная длинна 3 символа!</small>
          <small class="valid" *ngIf="ValidPerson('name')">Поле успешно заполненно!</small>
          <small class="text-muted" *ngIf="!InvalidPerson('name') && !ValidPerson('name')">Введите имя оператора.</small>
        </div>

        <div class="form-group col-md-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-user mr-3"></i>Логин:
              </span>
            </div>
            <input type="text" class="form-control" id="login" name="login" formControlName="login" autocomplete="off">
            </div>
          <small class="invalid" *ngIf="InvalidPerson('login')">Логин должен содержать только английские буквы, минимальная длинна 3 символа!</small>
          <small class="valid" *ngIf="ValidPerson('login')">Поле успешно заполненно!</small>
          <small class="text-muted" *ngIf="!InvalidPerson('login') && !ValidPerson('login')">Введите логин оператора.</small>
        </div>

        <div class="form-group col-md-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-key mr-3"></i>Пин-код:
              </span>
            </div>
            <input type="text" class="form-control" id="pin" name="pin" formControlName="pin" autocomplete="off">
            </div>
          <small class="invalid" *ngIf="InvalidPerson('pin')">Пин код должен содержать 4 цифры!</small>
          <small class="valid" *ngIf="ValidPerson('pin')">Поле успешно заполненно!</small>
          <small class="text-muted" *ngIf="!InvalidPerson('pin') && !ValidPerson('pin')">Введите пин-код оператора.</small>
        </div>
        <div class="form-group col-md-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-id-card mr-3"></i>Код карты:
              </span>
            </div>
            <input type="text" class="form-control" id="code_card" name="code_card" formControlName="code_card" autocomplete="off">
            </div>
          <small class="invalid" *ngIf="InvalidPerson('code_card')">Поле не должно быть пустым!</small>
          <small class="valid" *ngIf="ValidPerson('code_card')">Поле успешно заполненно!</small>
          <small class="text-muted" *ngIf="!InvalidPerson('code_card') && !ValidPerson('code_card')">Введите код карты оператора.</small>
        </div>
      </div>
      <button type="submit" [disabled]="personForm.invalid" (click)="addPerson(personForm.value)" class="btn btn-blue pr-5 pl-5">Добавить оператора</button>
    </form>
  </div>
</div>
