.form-control-blue {
  background-color: #FFFFFF;
  border-radius: 2px!important;
  border-color: white;
  color: #1565C0!important;
}
.input-group-text-blue {
  font-size: 0.9rem;
  color: white;
  background-color: #1565C0;
}
